<% include ../partials/header.ejs %>

<h1>GALLERY</h1>

<section id="gallery-box">
</section>
<button id="previous">PREVIOUS</button>
<button id="next">NEXT</button>
<% include ../partials/footer.ejs %>